In [1]:
from sqlalchemy import create_engine

In [2]:
Engine = create_engine(f'postgresql://postgres:postgres@localhost:5432/postgres')

In [3]:
import pandas
def read_sql_to_df(query):
    return pandas.read_sql_query(query, con=Engine)
class ChannelTable:
    def __init__(self, stream, time=None):
        self.stream = stream
    
    @property
    def table_name(self):
        return 

    def streams_count(self):
        return read_sql_to_df(f'select DISTINCT started_at from {self.table_name};')


class StreamTable(ChannelTable):
    def __init__(self, stream, time=None):
        self.time = time
        super(StreamTable, self).__init__(stream)
    
    @property
    def condition(self):  
        return f"WHERE started_at = '{self.time}'" if self.time else ''

    @property
    def table_name(self):
        return self.stream

    def top_users_sql(self):
        query = f'SELECT username, COUNT(*) AS "count" from {self.table_name} {self.condition} group by username ORDER BY COUNT DESC;'
        print(query)
        return read_sql_to_df(query)
    
    def get_data_frame(self):
        query = f"SELECT * FROM {self.table_name} {self.condition}"
        return read_sql_to_df(query)
    
    def top_words(self, sort=False):
        sort = 'ORDER BY nentry DESC' if sort else ''
        query = f'SELECT word, nentry as "count" FROM ts_stat($$ \
                                SELECT to_tsvector({self.table_name}.msg) \
                                FROM {self.table_name} {self.condition}\
                                $$) {sort};'
        return read_sql_to_df(query)

In [5]:
i = StreamTable("sodapoppin")

In [6]:
i.streams_count()

             started_at
0  2020-03-04T19:52:16Z
1  2020-03-10T00:32:13Z
2  2020-03-07T19:50:57Z
3  2020-03-05T19:49:33Z
4  2020-03-03T19:03:14Z

In [7]:
i.top_users_sql()

SELECT username, COUNT(*) AS "count" from sodapoppin  group by username ORDER BY COUNT DESC;

            username  count
0          guactoast   3205
1          kirisaite   3175
2             anaxai   3141
3               kalg   2461
4          bhshelley   1884
...              ...    ...
39897    manifresh38      1
39898      auron2ooo      1
39899  stacelsgaming      1
39900      vanhelsey      1
39901    keztherogue      1

[39902 rows x 2 columns]

In [8]:
i.get_data_frame()

,id,username,msg,started_at,timestamp
0,1,rosestride2,@vulpeshd hey widepeepoHappy,2020-03-03T19:03:14Z,2020-03-03 19:04:46.715782
1,2,legoman0290,the title PepeLaugh,2020-03-03T19:03:14Z,2020-03-03 19:04:46.933259
2,3,wraykappa,pepeD,2020-03-03T19:03:14Z,2020-03-03 19:04:51.617403
3,4,imtwista,FINALLYYYY PogChamp,2020-03-03T19:03:14Z,2020-03-03 19:04:53.337675
4,5,vulpeshd,@rosestride2 hi ðŸ™‚,2020-03-03T19:03:14Z,2020-03-03 19:04:53.774508
...,...,...,...,...,...
453931,453922,sur3legend007,<3,2020-03-10T00:32:13Z,2020-03-10 23:42:20.845916
453932,453923,igor_rezn1koff,peepoLeave,2020-03-10T00:32:13Z,2020-03-10 23:42:21.058853
453933,453924,zulmogarga,not even 24 hours LULW,2020-03-10T00:32:13Z,2020-03-10 23:42:21.944531
453934,453935,deraffenfan,@Jazzykat but i dont want to peepoLeave,2020-03-10T00:32:13Z,2020-03-10 23:42:30.212473
453935,453936,the1_logan,peepoLeave later chat,2020-03-10T00:32:13Z,2020-03-10 23:42:30.292837

In [10]:
i.time = "2020-03-04T19:52:16Z"

In [12]:
from collections import defaultdict
import re 
class PandasHandler:
    def __init__(self, data_frame):
        self.data_frame = data_frame

    def top_by_coulumn(self, column, top):
        return self.data_frame[column].value_counts().rename_axis(column).reset_index(name='count')[:top]
    
    def top_words_usage(self, column, top):
        result = defaultdict(int)
        for i in self.data_frame[column].to_dict().values():
            for word in re.findall(r"[a-zA-Z\-0-9\.:,_'\"]+", i):
                    result[word] += 1
        return pandas.DataFrame.from_dict(result, orient='index').sort_values(0, ascending=False)[:top].reset_index().rename(columns={0: 'count', 'index':"word"})
    
    def get_word_usage(self, word, column):
        return len(self.data_frame[column].str.lower().str.findall(r"[\b|^]*({})\b".format(word), flags = re.I).sum())

    def get_words_examples(self, word, column, char_limit=10):
        mask = (self.data_frame[column].str.len() >= char_limit )
        return self.data_frame[self.data_frame[column].str.contains(r"[\b|^]*({})\b".format(word), flags = re.I)].loc[mask]

In [13]:
ph = PandasHandler(i.get_data_frame())

In [14]:
ph.top_by_coulumn('username', 10)

       username  count
0          kalg   1112
1     kirisaite    615
2     guactoast    572
3        ludias    330
4      lidlfrog    302
5  forsenkkona_    282
6          zuby    279
7        anaxai    264
8     bhshelley    244
9   copsycallum    232

In [15]:
i.top_users_sql()[:10]

SELECT username, COUNT(*) AS "count" from sodapoppin WHERE started_at = '2020-03-04T19:52:16Z' group by username ORDER BY COUNT DESC;

       username  count
0          kalg   1112
1     kirisaite    615
2     guactoast    572
3        ludias    330
4      lidlfrog    302
5  forsenkkona_    282
6          zuby    279
7        anaxai    264
8     bhshelley    244
9   copsycallum    232

In [16]:
word_isage = ph.top_words_usage('msg', 10)

In [17]:
ph.get_word_usage('yep cock', 'msg')

13

In [18]:
ph.get_words_examples('YEP COCK', 'msg')

/home/randie/.local/lib/python3.6/site-packages/pandas/core/strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

,id,username,msg,started_at,timestamp
430,76657,copthatl,Yep COCK squadR Yep COCK squadR Yep COCK squad...,2020-03-04T19:52:16Z,2020-03-04 20:01:51.458789
641,76868,copthatl,Yep COCK squadR Yep COCK squadR Yep COCK squadR,2020-03-04T19:52:16Z,2020-03-04 20:03:01.116974

In [19]:
class ChannelTable:
    def __init__(self, stream, time=None):
        self.stream = stream
    
    @property
    def table_name(self):
        return 

    def streams_count(self):
        return read_sql_to_df(f'select DISTINCT started_at from {self.table_name};')

In [114]:
class TopTable(ChannelTable):
    top_kind = {
            'Words': 'word_usage',
            'Users': 'user_usage'
        }
    def __init__(self, stream, top_kind='Words', top_df=None):
        self.top_df = {}
        self.tkind = top_kind
        super(TopTable, self).__init__(stream)

    def read_tops(self):
        result = {}
        for k, v in self.top_kind.items():
            result[k] = read_sql_to_df(f'select * from {self.stream}{v} ORDER BY started_at;')
        return result 

    @property
    def table_name(self):
        return self.stream + self.top_kind[self.tkind]

    def write_df_to_sql(self, additional_value=None):
        for mode, df in self.top_df.items():
            if additional_value:
                (k,v), = additional_value.items()
                df[k] = v #datetime.strptime(v, '%Y-%m-%dT%XZ').date().isoformat()
            print(df.__class__)
            print(df)
            df.to_sql(self.stream + self.top_kind[mode], Engine,  if_exists="append")

In [21]:
tt = TopTable('sodapoppin', 'w', word_isage)

In [22]:
tt.table_name

'sodapoppinword_usage'

In [184]:
tt.write_df_to_sql({'started_at':'2020-03-07T19:50:57Z'})

In [191]:
tt.streams_count()

             started_at
0  2020-03-07T19:50:57Z

In [23]:
st = StreamTable('sodapoppin')
tt =  TopTable('sodapoppin', 'w')

In [24]:
set(st.streams_count()['started_at'].to_list()) - set(tt.streams_count()['started_at'].to_list())

{'2020-03-03T19:03:14Z',
 '2020-03-04T19:52:16Z',
 '2020-03-05T19:49:33Z',
 '2020-03-10T00:32:13Z'}

In [213]:

st.streams_count().merge(tt.streams_count(), on='started_at', how='left')

             started_at
0  2020-03-04T19:52:16Z
1  2020-03-10T00:32:13Z
2  2020-03-07T19:50:57Z
3  2020-03-05T19:49:33Z
4  2020-03-03T19:03:14Z

In [41]:
for j in pandas.concat([st.streams_count(), tt.streams_count()]).drop_duplicates(keep=False).values: 
    print(j[0])
    st.time = j[0]
    ph = PandasHandler(st.get_data_frame())
    tt.tkind = 'w'
    tt.top_df = ph.top_words_usage('msg', 10)
    print("done")
    tt.write_df_to_sql({'started_at': st.time})
    
    
    tt.tkind = 'u'
    tt.top_df = st.top_users_sql()[:10]
    print(tt.top_df)
    tt.write_df_to_sql({'started_at': st.time})
#    print(st.top_words(True)[:10])

2020-03-04T19:52:16Z
done
SELECT username, COUNT(*) AS "count" from sodapoppin WHERE started_at = '2020-03-04T19:52:16Z' group by username ORDER BY COUNT DESC;
       username  count
0          kalg   1112
1     kirisaite    615
2     guactoast    572
3        ludias    330
4      lidlfrog    302
5  forsenkkona_    282
6          zuby    279
7        anaxai    264
8     bhshelley    244
9   copsycallum    232
2020-03-10T00:32:13Z
done
SELECT username, COUNT(*) AS "count" from sodapoppin WHERE started_at = '2020-03-10T00:32:13Z' group by username ORDER BY COUNT DESC;
       username  count
0     kirisaite   1651
1        anaxai   1439
2       mr_ragr   1376
3   theraeldeal   1202
4      jazzykat   1051
5     guactoast   1029
6         vissx    902
7        faiith    852
8      vulpeshd    795
9  cptmorgan132    792
2020-03-05T19:49:33Z
done
SELECT username, COUNT(*) AS "count" from sodapoppin WHERE started_at = '2020-03-05T19:49:33Z' group by username ORDER BY COUNT DESC;
    username  count
0       kalg    455
1  guactoast    442
2     anaxai    349
3     ajeen_    318
4    norkore    302
5     ludias    273
6     fenrii    248
7  yuyuyuna_    248
8  kirisaite    233
9    szary94    219
2020-03-03T19:03:14Z
done
SELECT username, COUNT(*) AS "count" from sodapoppin WHERE started_at = '2020-03-03T19:03:14Z' group by username ORDER BY COUNT DESC;
       username  count
0     kirisaite    676
1        ludias    522
2        anaxai    519
3     guactoast    480
4  basictuesday    480
5     victorjsz    420
6       sador90    369
7      vissione    360
8          zuby    277
9   smellygoatz    255

In [88]:
class Worker:
    def __init__(self, stream):
        self.stream_t = StreamTable(stream)
        self.top_t = TopTable(stream)

    def get_subset(self):
        try:  
            result =  pandas.concat([self.stream_t.streams_count(), self.top_t.streams_count()]).drop_duplicates(keep=False)
        except Exception:
            result =  self.stream_t.streams_count()
        return result
        
    def _set_top_attr(self, tkind, top_df):
        self.top_t.tkind, self.top_t.top_df[tkind] = (tkind, top_df)

    def _get_data_frame(self, time):
        self.stream_t.time = time
        return PandasHandler(self.stream_t.get_data_frame())

    def main(self):
        for j in self.get_subset().values: 
            print(j[0])
            self._set_top_attr('w', self._get_data_frame(j[0]).top_words_usage('msg', 10))
            self._set_top_attr('u', self.stream_t.top_users_sql()[:10])
            self.top_t.write_df_to_sql({'started_at': self.stream_t.time})

In [89]:
w = Worker('sodapoppin')

In [91]:
w.main()

2020-03-04T19:52:16Z
SELECT username, COUNT(*) AS "count" from sodapoppin WHERE started_at = '2020-03-04T19:52:16Z' group by username ORDER BY COUNT DESC;
<class 'pandas.core.frame.DataFrame'>
          word  count            started_at
0         LULW   3245  2020-03-04T19:52:16Z
1          the   2588  2020-03-04T19:52:16Z
2          Pog   2362  2020-03-04T19:52:16Z
3       monkaW   2331  2020-03-04T19:52:16Z
4  FeelsDabMan   2329  2020-03-04T19:52:16Z
5            a   1747  2020-03-04T19:52:16Z
6     OMEGALUL   1732  2020-03-04T19:52:16Z
7          you   1655  2020-03-04T19:52:16Z
8           is   1608  2020-03-04T19:52:16Z
9           to   1213  2020-03-04T19:52:16Z
<class 'pandas.core.frame.DataFrame'>
       username  count            started_at
0          kalg   1112  2020-03-04T19:52:16Z
1     kirisaite    615  2020-03-04T19:52:16Z
2     guactoast    572  2020-03-04T19:52:16Z
3        ludias    330  2020-03-04T19:52:16Z
4      lidlfrog    302  2020-03-04T19:52:16Z
5  forsenkkona_    282  2020-03-04T19:52:16Z
6          zuby    279  2020-03-04T19:52:16Z
7        anaxai    264  2020-03-04T19:52:16Z
8     bhshelley    244  2020-03-04T19:52:16Z
9   copsycallum    232  2020-03-04T19:52:16Z
2020-03-10T00:32:13Z
SELECT username, COUNT(*) AS "count" from sodapoppin WHERE started_at = '2020-03-10T00:32:13Z' group by username ORDER BY COUNT DESC;
<class 'pandas.core.frame.DataFrame'>
        word  count            started_at
0       LULW  13229  2020-03-10T00:32:13Z
1        Pog  10888  2020-03-10T00:32:13Z
2        the   9035  2020-03-10T00:32:13Z
3        LUL   8036  2020-03-10T00:32:13Z
4     monkaW   7418  2020-03-10T00:32:13Z
5        you   7327  2020-03-10T00:32:13Z
6  PepeLaugh   6150  2020-03-10T00:32:13Z
7         is   5735  2020-03-10T00:32:13Z
8          a   5686  2020-03-10T00:32:13Z
9         to   4683  2020-03-10T00:32:13Z
<class 'pandas.core.frame.DataFrame'>
       username  count            started_at
0     kirisaite   1651  2020-03-10T00:32:13Z
1        anaxai   1439  2020-03-10T00:32:13Z
2       mr_ragr   1376  2020-03-10T00:32:13Z
3   theraeldeal   1202  2020-03-10T00:32:13Z
4      jazzykat   1051  2020-03-10T00:32:13Z
5     guactoast   1029  2020-03-10T00:32:13Z
6         vissx    902  2020-03-10T00:32:13Z
7        faiith    852  2020-03-10T00:32:13Z
8      vulpeshd    795  2020-03-10T00:32:13Z
9  cptmorgan132    792  2020-03-10T00:32:13Z
2020-03-07T19:50:57Z
SELECT username, COUNT(*) AS "count" from sodapoppin WHERE started_at = '2020-03-07T19:50:57Z' group by username ORDER BY COUNT DESC;
<class 'pandas.core.frame.DataFrame'>
         word  count            started_at
0        LULW   6586  2020-03-07T19:50:57Z
1         Pog   5518  2020-03-07T19:50:57Z
2    OMEGALUL   2875  2020-03-07T19:50:57Z
3         LUL   2508  2020-03-07T19:50:57Z
4          is   1911  2020-03-07T19:50:57Z
5         the   1854  2020-03-07T19:50:57Z
6         you   1733  2020-03-07T19:50:57Z
7      monkaW   1592  2020-03-07T19:50:57Z
8           a   1584  2020-03-07T19:50:57Z
9  sodapoppin   1535  2020-03-07T19:50:57Z
<class 'pandas.core.frame.DataFrame'>
           username  count            started_at
0         bhshelley    926  2020-03-07T19:50:57Z
1         guactoast    682  2020-03-07T19:50:57Z
2            anaxai    570  2020-03-07T19:50:57Z
3       copsycallum    569  2020-03-07T19:50:57Z
4           coldwhy    557  2020-03-07T19:50:57Z
5              kalg    502  2020-03-07T19:50:57Z
6    blackenedvenom    438  2020-03-07T19:50:57Z
7  scoobasteve69420    322  2020-03-07T19:50:57Z
8          vissione    314  2020-03-07T19:50:57Z
9     blacklist_exe    312  2020-03-07T19:50:57Z
2020-03-12T21:35:47Z
SELECT username, COUNT(*) AS "count" from sodapoppin WHERE started_at = '2020-03-12T21:35:47Z' group by username ORDER BY COUNT DESC;
<class 'pandas.core.frame.DataFrame'>
             word  count            started_at
0            LULW   1902  2020-03-12T21:35:47Z
1             Pog   1091  2020-03-12T21:35:47Z
2             the   1039  2020-03-12T21:35:47Z
3            FINN    793  2020-03-12T21:35:47Z
4           5Head    772  2020-03-12T21:35:47Z
5  widepeepoHappy    751  2020-03-12T21:35:47Z
6            BALL    727  2020-03-12T21:35:47Z
7           THROW    720  2020-03-12T21:35:47Z
8        OMEGALUL    694  2020-03-12T21:35:47Z
9             LUL    686  2020-03-12T21:35:47Z
<class 'pandas.core.frame.DataFrame'>
                   username  count            started_at
0                    anaxai    331  2020-03-12T21:35:47Z
1  miguelangelfelixgallard0    153  2020-03-12T21:35:47Z
2                 jorjiitos    138  2020-03-12T21:35:47Z
3                  theavngr    120  2020-03-12T21:35:47Z
4                   szary94    118  2020-03-12T21:35:47Z
5                 guactoast    112  2020-03-12T21:35:47Z
6                  jazzykat    106  2020-03-12T21:35:47Z
7                  tiberioz     99  2020-03-12T21:35:47Z
8                  lidlfrog     95  2020-03-12T21:35:47Z
9               bull_run284     92  2020-03-12T21:35:47Z
2020-03-05T19:49:33Z
SELECT username, COUNT(*) AS "count" from sodapoppin WHERE started_at = '2020-03-05T19:49:33Z' group by username ORDER BY COUNT DESC;
<class 'pandas.core.frame.DataFrame'>
         word  count            started_at
0        LULW   3978  2020-03-05T19:49:33Z
1         Pog   3785  2020-03-05T19:49:33Z
2  sodapoppin   3222  2020-03-05T19:49:33Z
3         you   2887  2020-03-05T19:49:33Z
4         the   2885  2020-03-05T19:49:33Z
5           a   2523  2020-03-05T19:49:33Z
6          to   1790  2020-03-05T19:49:33Z
7    OMEGALUL   1691  2020-03-05T19:49:33Z
8      monkaW   1655  2020-03-05T19:49:33Z
9          is   1557  2020-03-05T19:49:33Z
<class 'pandas.core.frame.DataFrame'>
    username  count            started_at
0       kalg    455  2020-03-05T19:49:33Z
1  guactoast    442  2020-03-05T19:49:33Z
2     anaxai    349  2020-03-05T19:49:33Z
3     ajeen_    318  2020-03-05T19:49:33Z
4    norkore    302  2020-03-05T19:49:33Z
5     ludias    273  2020-03-05T19:49:33Z
6     fenrii    248  2020-03-05T19:49:33Z
7  yuyuyuna_    248  2020-03-05T19:49:33Z
8  kirisaite    233  2020-03-05T19:49:33Z
9    szary94    219  2020-03-05T19:49:33Z
2020-03-03T19:03:14Z
SELECT username, COUNT(*) AS "count" from sodapoppin WHERE started_at = '2020-03-03T19:03:14Z' group by username ORDER BY COUNT DESC;
<class 'pandas.core.frame.DataFrame'>
        word  count            started_at
0       LULW   5788  2020-03-03T19:03:14Z
1        Pog   3455  2020-03-03T19:03:14Z
2     monkaW   3181  2020-03-03T19:03:14Z
3   OMEGALUL   3126  2020-03-03T19:03:14Z
4        the   3081  2020-03-03T19:03:14Z
5  PepeLaugh   2479  2020-03-03T19:03:14Z
6         is   2351  2020-03-03T19:03:14Z
7        you   2330  2020-03-03T19:03:14Z
8        LUL   1980  2020-03-03T19:03:14Z
9          a   1890  2020-03-03T19:03:14Z
<class 'pandas.core.frame.DataFrame'>
       username  count            started_at
0     kirisaite    676  2020-03-03T19:03:14Z
1        ludias    522  2020-03-03T19:03:14Z
2        anaxai    519  2020-03-03T19:03:14Z
3     guactoast    480  2020-03-03T19:03:14Z
4  basictuesday    480  2020-03-03T19:03:14Z
5     victorjsz    420  2020-03-03T19:03:14Z
6       sador90    369  2020-03-03T19:03:14Z
7      vissione    360  2020-03-03T19:03:14Z
8          zuby    277  2020-03-03T19:03:14Z
9   smellygoatz    255  2020-03-03T19:03:14Z

In [92]:


from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly
import plotly.graph_objects as go

init_notebook_mode(connected=True)

In [93]:
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.express as px
import plotly.graph_objects as go
import plotly

In [101]:
def draw_top(df_top, template_number, dir, title, col):
        template = f"chart{template_number}.png"
        chart = px.bar(df_top, x=df_top.keys()[0],y=df_top.keys()[1], color=df_top.iloc[:, col])
        chart.update_layout(showlegend=False)
        chart.update_traces( 
            marker_line_color='rgb(8,48,107)',
            marker_line_width=1.5, opacity=0.6
        )
        chart.update_layout(title_text=title)
        chart.write_image(template)
        return template

In [140]:
worker = Worker("sodapoppin")

for j in worker.get_subset().values: 
    print(j[0])
    data_frame = worker._get_data_frame(j[0])

    top_words = data_frame.top_words_usage('msg', 10)
    worker._set_top_attr('Words', top_words)
    top_users = worker.stream_t.top_users_sql()[:25]
    worker._set_top_attr('Users', top_users)
#     draw_top(top_users, j[0] + "u", "sodapoppin", "Top10 humans in the chat", 0)
#     draw_top(top_words, j[0] + "w", "sodapoppin", "Top10 words in the chat", 1)
    worker.top_t.write_df_to_sql({'started_at': j[0]})

2020-03-04T19:52:16Z
SELECT username, COUNT(*) AS "count" from sodapoppin WHERE started_at = '2020-03-04T19:52:16Z' group by username ORDER BY COUNT DESC;
<class 'pandas.core.frame.DataFrame'>
          word  count            started_at
0         LULW   3245  2020-03-04T19:52:16Z
1          the   2588  2020-03-04T19:52:16Z
2          Pog   2362  2020-03-04T19:52:16Z
3       monkaW   2331  2020-03-04T19:52:16Z
4  FeelsDabMan   2329  2020-03-04T19:52:16Z
5            a   1747  2020-03-04T19:52:16Z
6     OMEGALUL   1732  2020-03-04T19:52:16Z
7          you   1655  2020-03-04T19:52:16Z
8           is   1608  2020-03-04T19:52:16Z
9           to   1213  2020-03-04T19:52:16Z
<class 'pandas.core.frame.DataFrame'>
        username  count            started_at
0           kalg   1112  2020-03-04T19:52:16Z
1      kirisaite    615  2020-03-04T19:52:16Z
2      guactoast    572  2020-03-04T19:52:16Z
3         ludias    330  2020-03-04T19:52:16Z
4       lidlfrog    302  2020-03-04T19:52:16Z
5   forsenkkona_    282  2020-03-04T19:52:16Z
6           zuby    279  2020-03-04T19:52:16Z
7         anaxai    264  2020-03-04T19:52:16Z
8      bhshelley    244  2020-03-04T19:52:16Z
9    copsycallum    232  2020-03-04T19:52:16Z
10      jazzykat    229  2020-03-04T19:52:16Z
11       norkore    224  2020-03-04T19:52:16Z
12       townies    201  2020-03-04T19:52:16Z
13    sirduncane    197  2020-03-04T19:52:16Z
14   smellygoatz    182  2020-03-04T19:52:16Z
15      vissione    182  2020-03-04T19:52:16Z
16       szary94    151  2020-03-04T19:52:16Z
17   austynfound    149  2020-03-04T19:52:16Z
18    oddynuff13    149  2020-03-04T19:52:16Z
19   tappedfouad    149  2020-03-04T19:52:16Z
20    mattfoxall    145  2020-03-04T19:52:16Z
21        faiith    145  2020-03-04T19:52:16Z
22  rimjobsteve2    142  2020-03-04T19:52:16Z
23    crossfirev    141  2020-03-04T19:52:16Z
24   stinkfoot34    131  2020-03-04T19:52:16Z
2020-03-10T00:32:13Z
SELECT username, COUNT(*) AS "count" from sodapoppin WHERE started_at = '2020-03-10T00:32:13Z' group by username ORDER BY COUNT DESC;
<class 'pandas.core.frame.DataFrame'>
        word  count            started_at
0       LULW  13229  2020-03-10T00:32:13Z
1        Pog  10888  2020-03-10T00:32:13Z
2        the   9035  2020-03-10T00:32:13Z
3        LUL   8036  2020-03-10T00:32:13Z
4     monkaW   7418  2020-03-10T00:32:13Z
5        you   7327  2020-03-10T00:32:13Z
6  PepeLaugh   6150  2020-03-10T00:32:13Z
7         is   5735  2020-03-10T00:32:13Z
8          a   5686  2020-03-10T00:32:13Z
9         to   4683  2020-03-10T00:32:13Z
<class 'pandas.core.frame.DataFrame'>
             username  count            started_at
0           kirisaite   1651  2020-03-10T00:32:13Z
1              anaxai   1439  2020-03-10T00:32:13Z
2             mr_ragr   1376  2020-03-10T00:32:13Z
3         theraeldeal   1202  2020-03-10T00:32:13Z
4            jazzykat   1051  2020-03-10T00:32:13Z
5           guactoast   1029  2020-03-10T00:32:13Z
6               vissx    902  2020-03-10T00:32:13Z
7              faiith    852  2020-03-10T00:32:13Z
8            vulpeshd    795  2020-03-10T00:32:13Z
9        cptmorgan132    792  2020-03-10T00:32:13Z
10         sirduncane    686  2020-03-10T00:32:13Z
11      dragonicdrago    617  2020-03-10T00:32:13Z
12          ren_slade    600  2020-03-10T00:32:13Z
13        copsycallum    579  2020-03-10T00:32:13Z
14           luca1888    564  2020-03-10T00:32:13Z
15   scoobasteve69420    550  2020-03-10T00:32:13Z
16             ajeen_    531  2020-03-10T00:32:13Z
17         jsynthetic    523  2020-03-10T00:32:13Z
18           vissione    519  2020-03-10T00:32:13Z
19              hirez    490  2020-03-10T00:32:13Z
20          peepomike    469  2020-03-10T00:32:13Z
21         oddynuff13    464  2020-03-10T00:32:13Z
22  swiftyisthereason    460  2020-03-10T00:32:13Z
23          bhshelley    452  2020-03-10T00:32:13Z
24          devsoaken    450  2020-03-10T00:32:13Z
2020-03-07T19:50:57Z
SELECT username, COUNT(*) AS "count" from sodapoppin WHERE started_at = '2020-03-07T19:50:57Z' group by username ORDER BY COUNT DESC;
<class 'pandas.core.frame.DataFrame'>
         word  count            started_at
0        LULW   6586  2020-03-07T19:50:57Z
1         Pog   5518  2020-03-07T19:50:57Z
2    OMEGALUL   2875  2020-03-07T19:50:57Z
3         LUL   2508  2020-03-07T19:50:57Z
4          is   1911  2020-03-07T19:50:57Z
5         the   1854  2020-03-07T19:50:57Z
6         you   1733  2020-03-07T19:50:57Z
7      monkaW   1592  2020-03-07T19:50:57Z
8           a   1584  2020-03-07T19:50:57Z
9  sodapoppin   1535  2020-03-07T19:50:57Z
<class 'pandas.core.frame.DataFrame'>
                  username  count            started_at
0                bhshelley    926  2020-03-07T19:50:57Z
1                guactoast    682  2020-03-07T19:50:57Z
2                   anaxai    570  2020-03-07T19:50:57Z
3              copsycallum    569  2020-03-07T19:50:57Z
4                  coldwhy    557  2020-03-07T19:50:57Z
5                     kalg    502  2020-03-07T19:50:57Z
6           blackenedvenom    438  2020-03-07T19:50:57Z
7         scoobasteve69420    322  2020-03-07T19:50:57Z
8                 vissione    314  2020-03-07T19:50:57Z
9            blacklist_exe    312  2020-03-07T19:50:57Z
10                lidlfrog    295  2020-03-07T19:50:57Z
11            kaffemedfika    289  2020-03-07T19:50:57Z
12               yuyuyuna_    284  2020-03-07T19:50:57Z
13                 pllut0o    257  2020-03-07T19:50:57Z
14                 mafuyui    239  2020-03-07T19:50:57Z
15              oddynuff13    228  2020-03-07T19:50:57Z
16                  ludias    222  2020-03-07T19:50:57Z
17               lastone85    212  2020-03-07T19:50:57Z
18                  fenrii    204  2020-03-07T19:50:57Z
19               lohan21__    202  2020-03-07T19:50:57Z
20                  faiith    195  2020-03-07T19:50:57Z
21                  yumbra    185  2020-03-07T19:50:57Z
22  i_have_zer0_deaths_irl    184  2020-03-07T19:50:57Z
23                 kycygni    184  2020-03-07T19:50:57Z
24    elegigglesavedmylife    179  2020-03-07T19:50:57Z
2020-03-12T21:35:47Z
SELECT username, COUNT(*) AS "count" from sodapoppin WHERE started_at = '2020-03-12T21:35:47Z' group by username ORDER BY COUNT DESC;
<class 'pandas.core.frame.DataFrame'>
             word  count            started_at
0            LULW   3866  2020-03-12T21:35:47Z
1             Pog   1959  2020-03-12T21:35:47Z
2             the   1638  2020-03-12T21:35:47Z
3          Pepega   1374  2020-03-12T21:35:47Z
4        OMEGALUL   1359  2020-03-12T21:35:47Z
5             LUL   1278  2020-03-12T21:35:47Z
6           5Head   1228  2020-03-12T21:35:47Z
7              D:   1192  2020-03-12T21:35:47Z
8  widepeepoHappy   1167  2020-03-12T21:35:47Z
9          monkaW   1166  2020-03-12T21:35:47Z
<class 'pandas.core.frame.DataFrame'>
                    username  count            started_at
0                     anaxai    469  2020-03-12T21:35:47Z
1                  guactoast    242  2020-03-12T21:35:47Z
2                   jazzykat    231  2020-03-12T21:35:47Z
3   miguelangelfelixgallard0    212  2020-03-12T21:35:47Z
4                   theavngr    183  2020-03-12T21:35:47Z
5                bull_run284    180  2020-03-12T21:35:47Z
6                    szary94    177  2020-03-12T21:35:47Z
7                   tiberioz    157  2020-03-12T21:35:47Z
8    texas_chainsaw_massacre    147  2020-03-12T21:35:47Z
9                lynxistaken    144  2020-03-12T21:35:47Z
10                 jorjiitos    141  2020-03-12T21:35:47Z
11                    jia321    137  2020-03-12T21:35:47Z
12                    ludias    136  2020-03-12T21:35:47Z
13                 pikkachuw    133  2020-03-12T21:35:47Z
14                  sythus__    130  2020-03-12T21:35:47Z
15                 bhshelley    129  2020-03-12T21:35:47Z
16                    krovvy    128  2020-03-12T21:35:47Z
17                discomania    111  2020-03-12T21:35:47Z
18            bootypopper237    110  2020-03-12T21:35:47Z
19                   unzaree    105  2020-03-12T21:35:47Z
20                  lidlfrog    104  2020-03-12T21:35:47Z
21                    1scorm    104  2020-03-12T21:35:47Z
22                   quiksyy    103  2020-03-12T21:35:47Z
23                 ayayaniki    100  2020-03-12T21:35:47Z
24             your___eulogy     98  2020-03-12T21:35:47Z

2020-03-05T19:49:33Z
SELECT username, COUNT(*) AS "count" from sodapoppin WHERE started_at = '2020-03-05T19:49:33Z' group by username ORDER BY COUNT DESC;
<class 'pandas.core.frame.DataFrame'>
         word  count            started_at
0        LULW   3978  2020-03-05T19:49:33Z
1         Pog   3785  2020-03-05T19:49:33Z
2  sodapoppin   3222  2020-03-05T19:49:33Z
3         you   2887  2020-03-05T19:49:33Z
4         the   2885  2020-03-05T19:49:33Z
5           a   2523  2020-03-05T19:49:33Z
6          to   1790  2020-03-05T19:49:33Z
7    OMEGALUL   1691  2020-03-05T19:49:33Z
8      monkaW   1655  2020-03-05T19:49:33Z
9          is   1557  2020-03-05T19:49:33Z
<class 'pandas.core.frame.DataFrame'>
        username  count            started_at
0           kalg    455  2020-03-05T19:49:33Z
1      guactoast    442  2020-03-05T19:49:33Z
2         anaxai    349  2020-03-05T19:49:33Z
3         ajeen_    318  2020-03-05T19:49:33Z
4        norkore    302  2020-03-05T19:49:33Z
5         ludias    273  2020-03-05T19:49:33Z
6         fenrii    248  2020-03-05T19:49:33Z
7      yuyuyuna_    248  2020-03-05T19:49:33Z
8      kirisaite    233  2020-03-05T19:49:33Z
9        szary94    219  2020-03-05T19:49:33Z
10       vugen18    213  2020-03-05T19:49:33Z
11        1scorm    203  2020-03-05T19:49:33Z
12       jaypii3    199  2020-03-05T19:49:33Z
13    murlocking    197  2020-03-05T19:49:33Z
14        faiith    186  2020-03-05T19:49:33Z
15      vissione    161  2020-03-05T19:49:33Z
16    ravenhoney    156  2020-03-05T19:49:33Z
17  sperm1nspace    151  2020-03-05T19:49:33Z
18          zuby    151  2020-03-05T19:49:33Z
19         eirwe    146  2020-03-05T19:49:33Z
20      vulpeshd    145  2020-03-05T19:49:33Z
21      swaggy_i    142  2020-03-05T19:49:33Z
22      aquagasm    140  2020-03-05T19:49:33Z
23      ledzeeej    138  2020-03-05T19:49:33Z
24     delta3388    133  2020-03-05T19:49:33Z
2020-03-03T19:03:14Z
SELECT username, COUNT(*) AS "count" from sodapoppin WHERE started_at = '2020-03-03T19:03:14Z' group by username ORDER BY COUNT DESC;
<class 'pandas.core.frame.DataFrame'>
        word  count            started_at
0       LULW   5788  2020-03-03T19:03:14Z
1        Pog   3455  2020-03-03T19:03:14Z
2     monkaW   3181  2020-03-03T19:03:14Z
3   OMEGALUL   3126  2020-03-03T19:03:14Z
4        the   3081  2020-03-03T19:03:14Z
5  PepeLaugh   2479  2020-03-03T19:03:14Z
6         is   2351  2020-03-03T19:03:14Z
7        you   2330  2020-03-03T19:03:14Z
8        LUL   1980  2020-03-03T19:03:14Z
9          a   1890  2020-03-03T19:03:14Z
<class 'pandas.core.frame.DataFrame'>
                username  count            started_at
0              kirisaite    676  2020-03-03T19:03:14Z
1                 ludias    522  2020-03-03T19:03:14Z
2                 anaxai    519  2020-03-03T19:03:14Z
3              guactoast    480  2020-03-03T19:03:14Z
4           basictuesday    480  2020-03-03T19:03:14Z
5              victorjsz    420  2020-03-03T19:03:14Z
6                sador90    369  2020-03-03T19:03:14Z
7               vissione    360  2020-03-03T19:03:14Z
8                   zuby    277  2020-03-03T19:03:14Z
9            smellygoatz    255  2020-03-03T19:03:14Z
10            dimortilus    244  2020-03-03T19:03:14Z
11              jazzykat    239  2020-03-03T19:03:14Z
12              joweni38    225  2020-03-03T19:03:14Z
13                sugino    224  2020-03-03T19:03:14Z
14               mr_ragr    218  2020-03-03T19:03:14Z
15             sadpandah    217  2020-03-03T19:03:14Z
16             whos_nick    217  2020-03-03T19:03:14Z
17           sharkcity77    214  2020-03-03T19:03:14Z
18  mau5mau5mau5mau5mau5    196  2020-03-03T19:03:14Z
19               5idi233    194  2020-03-03T19:03:14Z
20           lemurbreath    177  2020-03-03T19:03:14Z
21               sirkwak    177  2020-03-03T19:03:14Z
22       unbrokenlol1111    171  2020-03-03T19:03:14Z
23            crossfirev    171  2020-03-03T19:03:14Z
24                bhaaku    168  2020-03-03T19:03:14Z

In [144]:
def draw_chart_by_time(df, title):
    data = []
    for key, item in df.groupby(df.keys()[1]):
        if item['started_at'].count() > 4:
            data.append(go.Scatter(
                x=item['started_at'],
                y=item['count'],   
                name=key,     
                marker={'size':3},
                marker_line_width=1
            ))
    layout = {'title': title}
    fig = go.Figure(data=data, layout=layout)
    fig.update_layout(legend_orientation="h")
    fig.write_image(f"./chart{title}.png")

In [145]:
top_tab = TopTable('sodapoppin')

for k, v in top_tab.read_tops().items():
    print(1)
    draw_chart_by_time(v, k)

1
1

6